<!-- MAIN CONTENT-->
<!-- <div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div>
                    <img src="{{product.imgUrl }}" class="img-responsive detail-img mt-3" width="200px">

                    <h3 class="mt-3">{{product.name}}</h3>
                    <div class="price">{{product.unitPrice | currency}}</div>
                    <a *ngIf="product.unitsInStock>0" (click)="addToCart()" class="primary-btn mt-3">Add to cart</a>
                    <button *ngIf="product.unitsInStock == 0" disabled (click)="addToCart()"
                        class="primary-btn mt-3">Out of stock</button>

                    <hr>
                    <h4 class="mt-5">Product Description</h4>
                    <p class="mt-3">{{product.description}}
                    </p>

                    <a routerLink="/products" class="mt-3 mb-5">Back to Product List</a>
                </div>
            </div>

            <div class="row">
                <h3 class="m-3">Recommended</h3>

                <div *ngFor="let product of products |slice:0:4" class="col-md-3">
                    <div class="product-box">

                        <a routerLink="/products/{{product.id}}">
                            <img src="{{product.imgUrl}}" alt="">
                        </a>

                        <a routerLink="/products/{{product.id}}">
                            <h1>{{product.name}}</h1>
                        </a>

                        <div class="price">{{product.unitPrice |currency}}</div>
                        <button *ngIf="product.unitsInStock>0" (click)="addToCartList(product)"
                            class="btn btn-primary btn-sm">Add to cart</button>
                        <button *ngIf="product.unitsInStock==0" class="btn btn-primary btn-sm" disabled>Out of
                            sctock</button>

                    </div>


                </div>

                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">No products found.
                </div>

            </div>
        </div>
    </div>
</div> -->



<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/home">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shop Detail</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5" *ngIf="product">
        <div class="col-lg-5 xzoom">
            
            <img class="w-100 h-100 " *ngIf="product.imgUrl" src="../{{product.imgUrl}}" alt="Product Image" >
            <!-- <img src="{{product.imgUrl}}" alt="" style="width: 100px;"> -->

            
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{product.name}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">{{product.unitPrice | currency}}</h3>
            <p class="mb-4">{{product.description}}</p>
            
            <div class="d-flex align-items-center mb-4 pt-2">
                
                <button *ngIf="product.unitsInStock==0" class="btn btn-primary btn-sm" disabled>Out of stock</button> 
                <button *ngIf="product.unitsInStock>0" (click)="addToCart()" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="https://www.instagram.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
                
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                    <p>Dolore magna est eirmod sanctus dolor, amet diam et eirmod et ipsum. Amet dolore tempor consetetur sed lorem dolor sit lorem tempor. Gubergren amet amet labore sadipscing clita clita diam clita. Sea amet et sed ipsum lorem elitr et, amet et labore voluptua sit rebum. Ea erat sed et diam takimata sed justo. Magna takimata justo et amet magna et.</p>
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <h4 class="mb-3">Additional Information</h4>
                    <p>Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea. Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero diam ea vero et dolore rebum, dolor rebum eirmod consetetur invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod. Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut diam consetetur duo justo est, sit sanctus diam tempor aliquyam eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr sanctus eirmod takimata dolor ea invidunt.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                </li>
                                <li class="list-group-item px-0">
                                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                </li>
                                <li class="list-group-item px-0">
                                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                </li>
                                <li class="list-group-item px-0">
                                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                </li>
                              </ul> 
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0">
                                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                                </li>
                                <li class="list-group-item px-0">
                                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                                </li>
                                <li class="list-group-item px-0">
                                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                                </li>
                                <li class="list-group-item px-0">
                                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                                </li>
                              </ul> 
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
       
</div>
<!-- Shop Detail End -->


<!-- Products Start -->

<!-- Products End -->

<div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
</div>

<div class="row">

    <div *ngFor="let product of products |slice:0:4" class="col-lg-3 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">

            <a class="card-header product-img position-relative overflow-hidden bg-transparent border "
                routerLink="/products/{{product.id}}">
                <img class="img-fluid w-100" src="../{{product.imgUrl}}" alt="">
                
            </a>

            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <a routerLink="/products/{{product.id}}">
                    <h6 class="text-truncate mb-3">{{product.name}}</h6>
                </a>
                <div class="d-flex justify-content-center">
                    {{product.unitPrice |currency}} <del>$50.00</del></div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a routerLink="/products/{{product.id}}" class="btn btn-sm text-dark p-0"><i
                        class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                <button *ngIf="product.unitsInStock>0" (click)="addToCartList(product)"
                    class="btn btn-sm text-dark p-0"><i
                    class="fas fa-shopping-cart text-primary mr-1"></i>Add to cart</button>
                <button *ngIf="product.unitsInStock==0" class="btn btn-primary btn-sm" disabled>Out of stock</button> 

                
            </div>


            <!-- <button *ngIf="product.unitsInStock>0" (click)="addToCart(product)"
                class="btn btn-primary btn-sm">Add to cart</button>
            <button *ngIf="product.unitsInStock==0" class="btn btn-primary btn-sm" disabled>Out of
                sctock</button> -->

        </div>


    </div>

    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">No products
        found.</div>

</div>