<div class="form-header">
    <div class="au-input" *ngIf="!isAuthenticated && userFullName">
        welcome back {{userFullName}}
    </div>
    <button *ngIf="!isAuthenticated" routerLink="/login" class="au-btn-submit" >Login</button>
    <button *ngIf="isAuthenticated" (click)="logOut()" class="au-btn-submit" >Logout</button>
    <button *ngIf="isAuthenticated" routerLink="/members" class="au-btn-submit" >members</button>

    <button  routerLink="/order-history" class="au-btn-submit" >Orders</button>

</div>