

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Seller</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="/home">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0"><a href="/seller">Seller</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Update Product</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Checkout Start -->
<form [formGroup]="productFormGroup" (ngSubmit)="onSubmit()">
<div class="container-fluid pt-5">
    
    

    <div class="row px-xl-5 ">
        <div class="col-lg-4">
            <div >
                <div class="card product-item border-0 mb-4">

                    
                    <img class="img-fluid w-100" src="../{{product?.imgUrl}}" alt="">
                    

                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        
                        <h6 class="text-truncate mb-3">{{product?.name}}</h6>
                        
                        <div class="d-flex justify-content-center">
                            {{product?.unitPrice |currency}}</div>
                    </div>
                    
                    <span class="card-footer d-flex justify-content-between bg-light border" *ngIf="product?.unitsInStock==0" class="btn btn-primary btn-sm" disabled>Out of stock</span>


                    <!-- <button *ngIf="product.unitsInStock>0" (click)="addToCart(product)"
                        class="btn btn-primary btn-sm">Add to cart</button>
                    <button *ngIf="product.unitsInStock==0" class="btn btn-primary btn-sm" disabled>Out of
                        sctock</button> -->

                </div>


            </div>
            
        </div>
        <div class="col-lg-8">
            <div class="mb-4 ">
                <div class="card-header bg-secondary border-0 mx-0">
                    <h4 class="font-weight-semi-bold my-0 ">Edit Product</h4>
                </div>
                <div class="row m-3">
                    <div class="col-md-6 justify-content-center form-group">
                        <label>sku</label>
                        <input class="form-control" type="text" formControlName="sku" [value]="product?.sku">
                                <div *ngIf="sku?.invalid && (sku?.dirty || sku?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="sku?.hasError('required')|| sku?.hasError('notOnlyWhitespace')">
                                        sku is required
                                    </div>
                                    <div *ngIf="sku?.hasError('minlength')">
                                        sku must be at least 2 characters long
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" formControlName="name" [value]="product?.name">
                                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="name?.hasError('required')|| name?.hasError('notOnlyWhitespace')">
                                        name is required
                                    </div>
                                    <div *ngIf="name?.hasError('minlength')">
                                        name must be at least 2 characters long
                                    </div>
                                </div>
                    </div>
                    
                    <div class="col-md-6 form-group">
                        <label>Price</label>
                        <input class="form-control" type="text" formControlName="unitPrice" [value]="product?.unitPrice" >
                        <div *ngIf="unitPrice?.invalid && (unitPrice?.dirty || unitPrice?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="unitPrice?.hasError('required')|| unitPrice?.hasError('notOnlyWhitespace')">
                                        Unit Price is required
                                    </div>
                                    <div *ngIf="unitPrice?.hasError('pattern')">
                                        Unit Price must be a number
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Units in stock</label>
                        <input class="form-control" type="text" formControlName="unitsInStock" [value]="product?.unitsInStock">
                                <div *ngIf="unitsInStock?.invalid && (unitsInStock?.dirty || unitsInStock?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="unitsInStock?.hasError('required')|| unitsInStock?.hasError('notOnlyWhitespace')">
                                        Units In Stock is required
                                    </div>
                                    <div *ngIf="unitsInStock?.hasError('pattern')">
                                        Units In Stock must be a number
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>image Url</label>
                        <textarea rows="2" cols="5" class="form-control" type="text" formControlName="imageUrl" [value]="product?.imgUrl" ></textarea>
                                <div *ngIf="imageUrl?.invalid && (imageUrl?.dirty || imageUrl?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="imageUrl?.hasError('required')|| imageUrl?.hasError('notOnlyWhitespace')">
                                        image Url is required
                                    </div>
                                    <div *ngIf="imageUrl?.hasError('minlength')">
                                        image Url must be at least 2 characters long
                                    </div>
                                </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Category</label>
                        <select class="custom-select" formControlName="categoryId">
                            <option *ngFor="let category of categories" [ngValue]="category">
                                {{category.categoryName}}</option>
                        </select>

                        <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)"
                            class="alert alert-danger mt-1">
                            <div
                                *ngIf="categoryId?.hasError('required')">
                                Category is required
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-md-12 form-group">
                        <label>description</label>
                        <textarea rows="6" cols="50" class="form-control" type="text" formControlName="description" [value]="product?.description"></textarea>
                                <div *ngIf="description?.invalid && (description?.dirty || description?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div
                                        *ngIf="description?.hasError('required')|| description?.hasError('notOnlyWhitespace')">
                                        description is required
                                    </div>
                                    <div *ngIf="description?.hasError('minlength')">
                                        description must be at least 2 characters long
                                    </div>
                                </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        

        <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary mt-5">Update</button>
        </div>
    </div>
</div>
</form>
<!-- Checkout End -->