<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a routerLink="/home">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">

                    <div formGroupName="customer" class="form-area mb-3">
                        <h4 class="font-weight-semi-bold mb-4">Contact Information</h4>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="">Email</label>



                                <div class="input-space">
                                    <input class="form-control" formControlName="email" type="text">

                                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="email?.hasError('required')|| email?.hasError('notOnlyWhitespace')">
                                            email is required
                                        </div>
                                        <div *ngIf="email?.hasError('minlength')">
                                            email must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="">First Name</label>



                                <div class="input-space">
                                    <input class="form-control" formControlName="firstName" type="text">

                                    <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="firstName?.hasError('required')|| firstName?.hasError('notOnlyWhitespace')">
                                            First Name is required
                                        </div>
                                        <div *ngIf="firstName?.hasError('minlength')">
                                            First Name must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6 form-group">
                                <label for="lastName">Last Name</label>
                                <div class="input-space">
                                    <input class="form-control" formControlName="lastName" type="text" id="lastName">

                                    <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="lastName?.hasError('required')|| lastName?.hasError('notOnlyWhitespace')">
                                            Last Name is required
                                        </div>
                                        <div *ngIf="lastName?.hasError('minlength')">
                                            Last Name must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>



                    <div formGroupName="shippingAddress" class="form-area">
                        <h4 class="font-weight-semi-bold mb-4">Shipping Adress</h4>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="">Street</label>
                                <div class="input-space">
                                    <input class="form-control" formControlName="street" type="text">
                                    <div *ngIf="shippingAdressStreet?.invalid && (shippingAdressStreet?.dirty || shippingAdressStreet?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="shippingAdressStreet && shippingAdressStreet.errors?.['required'] || shippingAdressStreet?.hasError('notOnlyWhitespace')">
                                            Street is required
                                        </div>
                                        <div *ngIf="shippingAdressStreet && shippingAdressStreet.errors?.['minlength']">
                                            Street must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 form-group">
                                <label for="">City</label>


                                <div class="input-space">
                                    <input class="form-control" formControlName="city" type="text">
                                    <div *ngIf="shippingAdressCity?.invalid && (shippingAdressCity?.dirty || shippingAdressCity?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="shippingAdressCity && shippingAdressCity.errors?.['required'] || shippingAdressCity?.hasError('notOnlyWhitespace')">
                                            City is required
                                        </div>
                                        <div *ngIf="shippingAdressCity && shippingAdressCity.errors?.['minlength']">
                                            City must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 form-group">
                                <label for="">Country</label>


                                <div class="input-space">
                                    <select formControlName="country" class="custom-select"
                                        (change)="getStates('shippingAddress')">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="shippingAdressCountry?.invalid && (shippingAdressCountry?.dirty || shippingAdressCountry?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="shippingAdressCountry && shippingAdressCountry.errors?.['required']">
                                            Country is required
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 form-group">
                                <label for="">state</label>

                                <div class="input-space">
                                    <select formControlName="state" class="custom-select">
                                        <option *ngFor="let state of shippingAdressStates" [ngValue]="state">
                                            {{state.name}}
                                        </option>
                                    </select>

                                    <div *ngIf="shippingAdressState?.invalid && (shippingAdressState?.dirty || shippingAdressState?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="shippingAdressState && shippingAdressState.errors?.['required']">
                                            State is required
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="col-md-4 form-group">
                                <label for="">Zip Code</label>


                                <input class="form-control" formControlName="zipCode" type="text">

                                <div *ngIf="shippingAdressZipCode?.invalid && (shippingAdressZipCode?.dirty || shippingAdressZipCode?.touched)"
                                    class="alert alert-danger mt-1">
                                    <div *ngIf="shippingAdressZipCode && shippingAdressZipCode.errors?.['required']">
                                        ZipCode is required
                                    </div>
                                    <div *ngIf="shippingAdressZipCode && shippingAdressZipCode.errors?.['minlength']">
                                        ZipCode must be at least 2 characters long
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div [hidden]="selectedPaymentOption === 'CashDelivery'" *ngIf="showBillingAddress" class="input-space">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" (change)="copyShippingToBilling($event)">
                            <label class="form-check-label">Billing address same as shipping address</label>
                        </div>
                    </div>

                    <!-- Billing Address -->

                    <div [hidden]="selectedPaymentOption === 'CashDelivery'" *ngIf="showBillingAddress" formGroupName="billingAddress" class="form-area my-5">
                        <h3>Billing Address</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Street</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="street" type="text">
                                    <div *ngIf="selectedPaymentOption === 'CashDelivery' && billingAdressStreet?.invalid && (billingAdressStreet?.dirty || billingAdressStreet?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="billingAdressStreet && billingAdressStreet.errors?.['required'] || billingAdressStreet?.hasError('notOnlyWhitespace')">
                                            Street is required
                                        </div>
                                        <div *ngIf="billingAdressStreet && billingAdressStreet.errors?.['minlength']">
                                            Street must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="">City</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="city" type="text">
                                    <div *ngIf="selectedPaymentOption === 'CashDelivery' && billingAdressCity?.invalid && (billingAdressCity?.dirty || billingAdressCity?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="billingAdressCity && billingAdressCity.errors?.['required'] || billingAdressCity?.hasError('notOnlyWhitespace')">
                                            City is required
                                        </div>
                                        <div *ngIf="billingAdressCity && billingAdressCity.errors?.['minlength']">
                                            City must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-4">
                                <label for="">Country</label>

                                <div class="input-space">
                                    <select formControlName="country" class="custom-select"
                                        (change)="getStates('billingAddress')">
                                        <option *ngFor="let country of countries" [ngValue]="country">
                                            {{country.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="selectedPaymentOption === 'CashDelivery' && billingAdressCountry?.invalid && (billingAdressCountry?.dirty || billingAdressCountry?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="billingAdressCountry && billingAdressCountry.errors?.['required']">
                                            Country is required
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">state</label>

                                <div class="input-space">
                                    <select formControlName="state" class="custom-select">
                                        <option *ngFor="let state of billingAdressStates">{{state.name}}</option>
                                    </select>

                                    <div *ngIf="selectedPaymentOption === 'CashDelivery' && billingAdressState?.invalid && (billingAdressState?.dirty || billingAdressState?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="billingAdressState && billingAdressState.errors?.['required']">
                                            State is required
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">Zip Code</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="zipCode" type="text">
                                    <div *ngIf="selectedPaymentOption === 'CashDelivery' && billingAdressZipCode?.invalid && (billingAdressZipCode?.dirty || billingAdressZipCode?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="billingAdressZipCode && billingAdressZipCode.errors?.['required']">
                                            ZipCode is required
                                        </div>
                                        <div *ngIf="billingAdressZipCode && billingAdressZipCode.errors?.['minlength']">
                                            ZipCode must be at least 2 characters long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                    <!-- Card -->

                    <!-- <div *ngIf="showBillingAddress" formGroupName="creditCard" class="form-area collapse mb-4" id="shipping-address">
                        <h3>Credit Card</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Type</label>

                                <div class="input-space">
                                    <select formControlName="cardType" class="custom-select">
                                        <option value="">Visa</option>
                                        <option value="">MasterCard</option>

                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="">Name on Card</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="nameOnCard" type="text">

                                    <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="creditCardNameOnCard && creditCardNameOnCard.errors?.['required'] || creditCardNameOnCard?.hasError('notOnlyWhitespace')">
                                            Name is required
                                        </div>
                                        <div *ngIf="creditCardNameOnCard && creditCardNameOnCard.errors?.['minlength']">
                                            Name must be at least 2 characters long
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row my-3 ">
                            <div class="col-md-12 mb-3" >
                                <label for="">Card Number</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="cardNumber" type="text">

                                    <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div
                                            *ngIf="creditCardNumber && creditCardNumber.errors?.['required'] || creditCardNumber?.hasError('notOnlyWhitespace')">
                                            Number is required
                                        </div>
                                        <div *ngIf="creditCardNumber && creditCardNumber.errors?.['pattern']">
                                            Number must be at least 16 characters long
                                        </div>
                                    </div>

                                </div>
                            </div>
                        


                            <div class="col-md-4">
                                <label for="">expiration Month</label>

                                <div class="input-space">
                                    <div>
                                        <select class="custom-select" formControlName="expirationMonth"
                                            (change)="handleMonthsAndYears()">
                                            <option *ngFor="let month of creditCardMonths">{{month}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">expiration Year</label>

                                <div class="input-space">
                                    <div>
                                        <select class="custom-select" formControlName="expirationYear"
                                            (change)="handleMonthsAndYears()">
                                            <option *ngFor="let year of creditCardYears">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">CVV</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="securityCode" type="text">

                                    <div *ngIf="creditCardCVV?.invalid && (creditCardCVV?.dirty || creditCardCVV?.touched)"
                                        class="alert alert-danger mt-1">
                                        <div *ngIf="creditCardCVV && creditCardCVV.errors?.['required']">
                                            CVV is required
                                        </div>
                                        <div *ngIf="creditCardCVV?.hasError('pattern')">
                                            CVV must 3 numbers long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->


                    <!-- Card End -->









                </div>

            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <!-- <table *ngFor="let item of cartItems">
                        <td><img src="{{item.imageUrl}}" alt="" style="width: 100px;"></td>
                        <td>{{item.name}}<br>{{item.quantity}}</td>
                        <td>{{item.unitPrice *item.quantity |currency}}</td>
                    </table> -->
                        <div *ngFor="let item of cartItems" class="d-flex justify-content-between">
                            <p><img src="{{item.imageUrl}}" alt="" style="width: 100px;"></p>
                            <p>{{item.name}}<br>{{item.quantity}}</p>
                            <p>{{item.unitPrice *item.quantity |currency}}</p>
                        </div>

                        <hr class="mt-0">

                        <div *ngIf="totalQuantity==1" class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{{totalPrice | currency }}</h6>
                        </div>
                        <div *ngIf="totalQuantity > 1 " class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium"><s style="font-weight: 100;"><small>Subtotal</small></s></h6>
                            <h6 class="font-weight-medium"><s style="font-weight: 100;"><small>{{totalPrice | currency
                                        }}</small></s></h6>

                        </div>
                        <div *ngIf="totalQuantity> 1" class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">discount</h6>
                            <h6 class="font-weight-medium">{{discountPrice| currency }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 *ngIf="!discountPrice" class="font-weight-bold">{{totalPrice+10|currency}}</h5>
                            <h5 *ngIf="discountPrice" class="font-weight-bold">{{discountPrice+10|currency}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" #visaOption (change)="onPaymentOptionChange(visaOption.value)"
                                    value="Visa" class="custom-control-input" name="payment" id="paypal">
                                <label class="custom-control-label" for="paypal" data-toggle="collapse" 
                                    data-target="#shipping-address">Visa</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" #masterCardOption
                                    (change)="onPaymentOptionChange(masterCardOption.value)" value="MasterCard"
                                    class="custom-control-input" name="payment" id="directcheck">
                                <label class="custom-control-label" for="directcheck" data-toggle="collapse"
                                    data-target="#shipping-address">Master Card</label>
                            </div>
                        </div>
                        <div class="">
                            <div class="custom-control custom-radio">
                                <input type="radio" #cashDeliveryOption
                                    (change)="onPaymentOptionChange(cashDeliveryOption.value)"
                                    class="custom-control-input" name="payment" value="Cash delivery" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Cash Delivery</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="showBillingAddress" [hidden]="selectedPaymentOption === 'CashDelivery'" formGroupName="creditCard" class="form-area collapse mb-4"
                        id="shipping-address">


                        <div class="row my-3 mx-1 ">
                            <div class="col-md-12 mb-3">
                                <label for="">Card Number</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="cardNumber" type="text">

                                    <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)"
                                        class="alert alert-danger mt-1">
                                        
                                        <div *ngIf="creditCardNumber && creditCardNumber.errors?.['pattern']">
                                            Number must be at least 16 characters long
                                        </div>
                                    </div>

                                </div>
                            </div>



                            <div class="col-md-4">
                                <label for="">expiration(MM)</label>

                                <div class="input-space">
                                    <div>
                                        <select class="custom-select" formControlName="expirationMonth"
                                            (change)="handleMonthsAndYears()">
                                            <option *ngFor="let month of creditCardMonths">{{month}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">expiration(YY)</label>

                                <div class="input-space">
                                    <div>
                                        <select class="custom-select" formControlName="expirationYear"
                                            (change)="handleMonthsAndYears()">
                                            <option *ngFor="let year of creditCardYears">{{year}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="">CVV</label>

                                <div class="input-space">
                                    <input class="form-control" formControlName="securityCode" type="text">

                                    <div *ngIf="creditCardCVV?.invalid && (creditCardCVV?.dirty || creditCardCVV?.touched)"
                                        class="alert alert-danger mt-1">
                                        
                                        <div *ngIf="creditCardCVV?.hasError('pattern')">
                                            CVV must 3 numbers long
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->