<!-- <form class="form-header">

  <input #myInput type="text" class="au-input au-input-xl" placeholder="Search for data ..."
    (keyup.enter)="doSearch(myInput.value)" />
  <button (click)="doSearch(myInput.value)" class="au-btn-submit" type="submit">
    Search
  </button>
</form> -->


  <form action="">
    <div class="input-group">
      <input #myInput type="text" class="form-control" placeholder="Search for products"
        (keyup.enter)="doSearch(myInput.value)" />

      <div class="input-group-append">
        <span class="input-group-text bg-transparent text-primary">
        <button (click)="doSearch(myInput.value)" type="submit">
          <i class="fa fa-search"></i>
        </button>
        
          
        </span>
      </div>
    </div>
  </form>

  <!-- <form action="">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for products">
        <div class="input-group-append">
            <span class="input-group-text bg-transparent text-primary">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</form> -->
